<!DOCTYPE html>
<html>
  <head>
    <style>
     .weatherapi-weather-widget-3 {
        float: center;
        vertical-align: middle;
        text-align: center;
        background-color: gray;
        border: solid black;
        text-align: top;
        color: white;
        font-family: "Grandstander";
        width: 50%;
        margin-left: auto;
        margin-right: auto;

      }
    </style>
  </head>
  <body>
    <h1>
      Please enable location services
    </h1>          
    <div id="weatherapi-weather-widget-3"></div>
    <script type="text/javascript" src="https://www.weatherapi.com/weather/widget.ashx?loc=317545&wid=3&tu=1&div=weatherapi-weather-widget-3" async></script>
    <noscript><a href="https://www.weatherapi.com/weather/q/stoney-creek-ontario-canada-317545" alt="Hour by hour Stoney Creek, Ontario, Canada weather">10 day hour by hour Stoney Creek, Ontario, Canada weather</a></noscript>
  </body>
</html>